<div id="<%= id %>-node-panel" data-sort="<%= title %>" class="root-viz-item">
  <div class="panel-heading">
    <h3 class="panel-title"><%= title %></h3>
  </div>
  <div class="panel-body">
    <div style="text-align:center;">
      <%- icon %>
    </div>
    <details open><summary><i id="<%= id %>-authors" class="fa fa-pencil-square" aria-hidden="true"></i><b>  Authors</b></summary><%- authors %></details>
    <details open><summary><i id="<%= id %>-brief"class="fa fa-pencil-square" aria-hidden="true"></i><b>  Brief Description</b></summary><%- brief %></details>
    <details><summary><i id="<%= id %>-detailed"class="fa fa-pencil-square" aria-hidden="true"></i><b>  Detailed Description</b></summary><%- detailed %></details>
  </div>
</div>
